<h4 class="page-header"> Manage Fees </h4>
<table class="table table-hover table-bordered">
    <thead>
        <th>Narration </th>
        <th>Fees (&#8358)</th> 
    </thead>
    <tbody> 
        <tr ng-repeat="x in fees">
            <td><input ng-keyup="onClick()" class="form-control" value="{{x.narration}}"  style="border-style:none; box-shadow:0 0 0 0; border-radius:0" ng-model="x.narration"></input></td>
            <td><input ng-keyup="onClick()" class="form-control" value="{{x.fees}}"  style="border-style:none; box-shadow:0 0 0 0; border-radius:0" ng-model="x.fees"></input></td>
        </tr>
        <tr ng-repeat="x in newRows">
            <td><input ng-keyup="onNewClick()" class="form-control" value="{{x.narration}}"  style="border-style:none; box-shadow:0 0 0 0; border-radius:0" ng-model="x.narration"></input></td>
            <td><input ng-keyup="onNewClick()" class="form-control" value="{{x.fees}}"  style="border-style:none; box-shadow:0 0 0 0; border-radius:0" ng-model="x.fees"></input></td>
        </tr>
    </tbody>
</table>
{{message}}
<div class="text-right"><button ng-click="update()" class="btn btn-primary {{activeButton}}" ng-show="visible">{{updateName}}</button> <button ng-click="addRow()" class="btn btn-primary {{activeButton}}" ng-show="newVisible">{{newName}}</button> <button ng-click="addNewRowClick()" class="btn">Add Fee Option</button> </div>
